.segment-button{
  color: #4d4d4d !important;
  border-color: #fff !important;
}
.segment-activated {
  color: #1e2023 !important;
  border-color: #106DB8 !important;
}
.content{
  margin-top: 10px;
  padding: 10px;
}
// button{
//   margin-top: 35px !important;
// }
// ion-item{
//   margin: 10px 0 10px !important;
// }
.wrapper{
  margin: 30px 0 0;
}
.logo{
  width: 70%;
  float: right;
}
ion-segment{
  margin-top: 120px;
}
// ion-footer{
//   padding-bottom: 9px;
// }
